<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viviproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
	
    <permission
        android:name="com.viviproject.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.viviproject.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.viviproject.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.viviproject.HomeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.overview.CustomerProfitActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.overview.ProfitReportActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.overview.CoverProductReport"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.customerline.ListCustomer"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.customerline.ListCustomerPending"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.customerline.CustomerDetails"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.customerline.EditCustomer"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.customerline.CreateCustormer"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.customerline.MapActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.visit.VisitAcitvity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.visit.VisitDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.visit.PlaceOrderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.visit.GiveGimic"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.visit.FeedbackActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.visit.PictureReportActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.deliver.ChangeOrderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.deliver.Delived_Order"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.viviproject.deliver.OrderImportActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.viviproject.deliver.OrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.viviproject.projection.AcProducts"
            android:configChanges="orientation|screenSize"
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.projection.AcPromotions"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.projection.AcImagePager"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.projection.AcCompany"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.projection.AcPharmacer"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.projection.AcProjectionClip"
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.gimic.AcGimicMangager"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.reports.AcTotalSales"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.reports.AcProfitFollowCustomer"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.reports.AcSalesOnCustomer"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.reports.AcSalesChart"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.projection.FullscreenDemoActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.projection.YouTubeFailureRecoveryActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <receiver android:name="com.activetrak.android.receiver.AutoUpdateReceiver"/>
        
        <service 
            android:name="com.viviproject.service.TrackingLocationService">
        </service>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>