<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viviproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.viviproject.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.viviproject.HomeActivity" />
        <activity android:name="com.viviproject.overview.CustomerProfitActivity" />
        <activity android:name="com.viviproject.overview.ProfitReportActivity" />
        <activity android:name="com.viviproject.overview.CoverProductReport" />
        <activity android:name="com.viviproject.customerline.ListCustomer" />
        <activity android:name="com.viviproject.customerline.ListCustomerPending" />
        <activity android:name="com.viviproject.customerline.CustomerDetails" />
        <activity android:name="com.viviproject.customerline.EditCustomer" />
        <activity android:name="com.viviproject.customerline.CreateCustormer" />
        <activity
            android:name="com.viviproject.projection.AcProducts"
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.viviproject.projection.AcPromotions"       
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.viviproject.projection.AcImagePager"       
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.viviproject.projection.AcCompany"       
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" 
            android:screenOrientation="portrait">
        </activity> 
        <activity
            android:name="com.viviproject.projection.AcPharmacer"       
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.viviproject.projection.AcProjectionClip"       
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden">
        </activity>
        
        <activity
            android:name="com.viviproject.gimic.AcGimicMangager"       
            android:theme="@style/StyledIndicatorsBlue"
            android:windowSoftInputMode="stateHidden" 
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>